---
const pythonLogo = "../img/python-color.svg"
const djangoLogo = "../img/django-color.svg"
const fastApiLogo = "../img/fastapi-color.svg"
const jsLogo = "../img/js-color.svg"
const nextLogo = "../img/next-color.svg"
const reactLogo = "../img/react-color.svg"
const goLogo = "../img/go-color.svg"
const gitLabLogo = "../img/gitlab-color.svg"
const githubLogo = "../img/github-color.svg"
const postgresqlLogo = "../img/postgresql-color.svg"
const dockerLogo = "../img/docker-color.svg"
const doLogo = "../img/do-color.svg"
const linuxLogo = "../img/linux-color.svg"
---

<section>
    <div class="flex flex-col justify-center items-center pt-16">
        <h2 class="text-3xl text-center font-bold text-[#7ED957] pt-2">EXPERIENCE</h2>
    </div>
    <div class="pb-28">
        <div class="w-1/2 mx-auto pt-16">
            <!--Title job and date-->
            <div class="flex flex-row justify-between items-center">
                <div class="pr-4">
                    <h3 class="text-2xl font-bold text-white">IT Developer</h3>
                </div>
                <div class="pl-4">
                    <h4 class="font-extralight text-[#C5C5C5]">Oct 2023 - Present</h4>
                </div>
            </div>
            <!--Description-->
            <div>
                <p class="text-xl text-justify font-light mx-auto pt-6">I currently work as an IT developer in a
                    telecommunications company. I am in charge of an automated conversation system called
                    <b>RAPIDPRO</b> as well as developing new functionalities and <b>integrations with other systems</b>
                    through APIs.</p>
            </div>
            <!--Logos-->
            <div class="justify-start flex flex-row pt-2">
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={pythonLogo}
                         alt="Python"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={jsLogo}
                         alt="JavaScript"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={goLogo}
                         alt="Go"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={postgresqlLogo}
                         alt="PostgreSQL"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={gitLabLogo}
                         alt="GitLab"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={linuxLogo}
                         alt="Linux"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={dockerLogo}
                         alt="Docker"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-16">
            <!--Title job and date-->
            <div class="flex flex-row justify-between items-center">
                <div class="pr-4">
                    <h3 class="text-2xl font-bold text-white">Full Stack Developer</h3>
                </div>
                <div class="pl-4">
                    <h4 class="font-extralight text-[#C5C5C5]">Dec 2020 - Jul 2023</h4>
                </div>
            </div>
            <!--Description-->
            <div>
                <p class="text-xl text-justify font-light mx-auto pt-6">I worked in an accounting and administrative
                    services company where <b>I developed multiple productivity tools</b> such as a <b>multi-company
                        information manager</b>, <b>XML invoice manager</b>. The most complex tool was a <b>multi-account
                        banking</b> transaction management system.</p>
            </div>
            <!--Logos-->
            <div class="justify-start flex flex-row pt-2">
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={pythonLogo}
                         alt="Python"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={fastApiLogo}
                         alt="FastAPI"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={jsLogo}
                         alt="JavaScript"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={nextLogo}
                         alt="NextJS"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={reactLogo}
                         alt="ReactJS"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={goLogo}
                         alt="Go"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={postgresqlLogo}
                         alt="PostgreSQL"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={githubLogo}
                         alt="GitHub"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={doLogo}
                         alt="Digital Ocean"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-16">
            <!--Title job and date-->
            <div class="flex flex-row justify-between items-center">
                <div class="pr-4">
                    <h3 class="text-2xl font-bold text-white">Project Full Stack</h3>
                </div>
                <div class="pl-4">
                    <h4 class="font-extralight text-[#C5C5C5]">Jul 2020 - Oct 2020</h4>
                </div>
            </div>
            <!--Description-->
            <div>
                <p class="text-xl text-justify font-light mx-auto pt-6">I have developed a digital menu system for
                    multiple restaurants. It was my first full stack development put into production. Developed in
                    Django and deployed in a Digital Ocean dloplet.</p>
            </div>
            <!--Logos-->
            <div class="justify-start flex flex-row pt-2">
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={pythonLogo}
                         alt="Python"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={djangoLogo}
                         alt="Django"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={postgresqlLogo}
                         alt="PostgreSQL"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={linuxLogo}
                         alt="Linux"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={doLogo}
                         alt="Digital Ocean"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
