---
const pythonLogo = "../img/python-color.svg"
const djangoLogo = "../img/django-color.svg"
const fastApiLogo = "../img/fastapi-color.svg"
const jsLogo = "../img/js-color.svg"
const nextLogo = "../img/next-color.svg"
const reactLogo = "../img/react-color.svg"
const goLogo = "../img/go-color.svg"
const gitLabLogo = "../img/gitlab-color.svg"
const githubLogo = "../img/github-color.svg"
const postgresqlLogo = "../img/postgresql-color.svg"
const dockerLogo = "../img/docker-color.svg"
const doLogo = "../img/do-color.svg"
const linuxLogo = "../img/linux-color.svg"
const openaiLogo = "../img/openai-color.svg"
const chatbotLogo = "../img/chatbot-color.svg"
---

<section id="experience">
    <div class="flex flex-col justify-center items-center pt-16">
        <h2 class="text-3xl text-center font-bold text-[#7ED957] pt-2">EXPERIENCIA</h2>
    </div>
    <div class="pb-28">
        <div class="w-1/2 mx-auto pt-16">
            <!--Title job and date-->
            <div class="flex flex-row justify-between items-center">
                <div class="pr-4">
                    <h3 class="text-2xl font-bold text-white">IT Developer</h3>
                </div>
                <div class="pl-4">
                    <h4 class="font-extralight text-[#C5C5C5]">Oct 2023 - Mar 2024</h4>
                </div>
            </div>
            <!--Description-->
            <div>
                <p class="text-xl text-justify font-light mx-auto pt-6">Lideré el mantenimiento y administración de RAPIDPRO, un avanzado sistema de mensajería automatizada basado en microservicios y Docker. Mi trabajo abarcó desde la programación en Python y Go para el backend hasta la gestión de bases de datos con PostgreSQL, enfocándome en la creación y mejora continua de funcionalidades para optimizar la eficiencia del sistema, usando GitLab como versionador de código.
                    Además de integrar servicios de terceros mediante API REST, como la mensajería a través de WhatsApp-Gupshup, enriquecí el sistema con inteligencia artificial de OpenAI, mejorando la interactividad y personalización de las respuestas. La arquitectura se complementó con el uso de AWS S3 para el almacenamiento de archivos estáticos y Redis para la gestión eficiente de colas de mensajes, lo que reforzó la escalabilidad y la fiabilidad del sistema.
                    Extendí la funcionalidad de RAPIDPRO desarrollando un script en Python que utiliza MongoDB para generar reportes detallados, facilitando así el análisis de datos y la toma de decisiones. Mi gestión técnica incluyó la administración de servidores a través de terminal SSH en un entorno Linux, demostrando mi competencia en DevOps y la administración de sistemas en la nube.</p>
            </div>
            <!--Logos-->
            <div class="justify-start flex flex-row pt-2">
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={pythonLogo}
                         alt="Python"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={jsLogo}
                         alt="JavaScript"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={goLogo}
                         alt="Go"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={postgresqlLogo}
                         alt="PostgreSQL"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={gitLabLogo}
                         alt="GitLab"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={linuxLogo}
                         alt="Linux"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={dockerLogo}
                         alt="Docker"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={openaiLogo}
                         alt="OpenAI"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={chatbotLogo}
                         alt="Chatbot"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-16">
            <!--Title job and date-->
            <div class="flex flex-row justify-between items-center">
                <div class="pr-4">
                    <h3 class="text-2xl font-bold text-white">Full Stack Developer</h3>
                </div>
                <div class="pl-4">
                    <h4 class="font-extralight text-[#C5C5C5]">Dic 2020 - Jul 2023</h4>
                </div>
            </div>
            <!--Description-->
            <div>
                <p class="text-xl text-justify font-light mx-auto pt-6">En mi rol como Líder de Proyecto Full Stack, dirigí con éxito la conceptualización, diseño e implementación de un sistema integral de gestión empresarial (ERP), centrado en la transformación y automatización de procesos internos para mejorar la coordinación y el flujo de información entre seis áreas funcionales clave.
                    En el desarrollo del sistema, apliqué principios de UI/UX para asegurar una experiencia de usuario óptima, creando interfaces intuitivas y responsivas con ReactJS / NextJS y Material-UI (MUI). El backend se desarrolló con Python y FastAPI, y la gestión de datos se realizó con PostgreSQL y SQLAlchemy, garantizando interacciones eficientes y seguras.
                    Implementé prácticas de integración continua utilizando Jetbrains, Github  y Jenkins con Docker, lo que facilitó el despliegue ágil y las iteraciones constantes del sistema. Además, adopté medidas de seguridad informática avanzadas para proteger contra ataques DDOS, XSS y SQL Injection, asegurando la integridad y confiabilidad del sistema.
                    El impacto del sistema ERP fue transformador, logrando una optimización del 300% en la eficiencia de captura de datos y eliminando redundancias. Esta mejora en la gestión de datos y la reducción de tiempos de trabajo contribuyeron significativamente al aumento de la productividad y la eficiencia operativa de la empresa.</p>
            </div>
            <!--Logos-->
            <div class="justify-start flex flex-row pt-2">
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={pythonLogo}
                         alt="Python"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={fastApiLogo}
                         alt="FastAPI"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={jsLogo}
                         alt="JavaScript"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={nextLogo}
                         alt="NextJS"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={reactLogo}
                         alt="ReactJS"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={goLogo}
                         alt="Go"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={postgresqlLogo}
                         alt="PostgreSQL"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={githubLogo}
                         alt="GitHub"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={doLogo}
                         alt="Digital Ocean"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
            </div>
        </div>
        <div class="w-1/2 mx-auto pt-16">
            <!--Title job and date-->
            <div class="flex flex-row justify-between items-center">
                <div class="pr-4">
                    <h3 class="text-2xl font-bold text-white">Project Full Stack</h3>
                </div>
                <div class="pl-4">
                    <h4 class="font-extralight text-[#C5C5C5]">Dic 2019 - Dic 2020</h4>
                </div>
            </div>
            <!--Description-->
            <div>
                <p class="text-xl text-justify font-light mx-auto pt-6">Como Desarrollador de Software, diseñé y ejecuté un avanzado sistema de menús digitales para restaurantes, transformando la forma en que presentan sus ofertas a los clientes. Este sistema personalizable permitió a los restaurantes crear y gestionar perfiles únicos, accesibles mediante URLs individuales, con menús digitales optimizados para una visualización perfecta tanto en dispositivos móviles como de escritorio, gracias a un diseño web adaptable.
                    Desarrollé la solución utilizando Python y Django, asegurando una estructura robusta y escalable, mientras que PostgreSQL sirvió como la base de datos confiable para almacenar datos de menús y perfiles de restaurantes. El sistema se enriqueció con la funcionalidad de códigos QR generados automáticamente, permitiendo a los comensales acceder instantáneamente a los menús con solo escanear, mejorando así la experiencia del usuario y la eficiencia del servicio.
                    El despliegue se realizó en una instancia de Ubuntu Server en Digital Ocean, utilizando Nginx como servidor web, lo que garantizó un rendimiento óptimo y una alta disponibilidad. Además, configuré con éxito el dominio y el protocolo HTTPS, fortaleciendo la seguridad y la confianza en el sistema.
                    Este proyecto no solo mejoró significativamente la interacción digital entre los restaurantes y sus clientes, sino que también demostró mi capacidad para innovar y ejecutar soluciones de software complejas que abordan necesidades comerciales específicas.</p>
            </div>
            <!--Logos-->
            <div class="justify-start flex flex-row pt-2">
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={pythonLogo}
                         alt="Python"
                         class="w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={djangoLogo}
                         alt="Django"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={postgresqlLogo}
                         alt="PostgreSQL"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={linuxLogo}
                         alt="Linux"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
                <div class="flex flex-col justify-center items-center p-1">
                    <img src={doLogo}
                         alt="Digital Ocean"
                         class="fill-current text-white hover:text-current w-8 h-8"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
